* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}

body {
  background: linear-gradient(to right, #f13e11a8, #f5af19ad);
}

// nav
.nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.877);
  color: #fff;

  .logo_box {
    display: flex;
    align-items: center;
    width: 170px;
    justify-content: space-between;

    .img_box {
      width: 30px;
      filter: brightness(10);
    }
  }

  .right_box {
    display: flex;
  }

  .search_box {
    display: flex;
    height: 50px;
    position: relative;

    input {
      width: 400px;
      border-radius: 20px;
      border: none;
      box-shadow: 5px 5px 10px rgba(36, 24, 2, 0.61);
      text-indent: 20px;
    }
    button {
      border: none;
      background: linear-gradient(120deg, #f5af19ad, #f13e11a8);
      box-shadow: 0px 0px 7px rgba(36, 24, 2, 0.61);
      color: #fff;
      width: 60px;
      border-radius: 20px;
      position: absolute;
      height: 50px;
      right: 0;
      cursor: pointer;
    }
    button img {
      width: 20px;
      filter: brightness(10);
    }
  }

  .btn_box {
    display: flex;
    width: 190px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
}

// menuBox

.kv_box {
  position: relative;
  .img_box {
    height: 700px;
    overflow: hidden;

    img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -56%) rotate(180deg);
    }
  }
  .txt_box {
    position: absolute;
    color: #fff;
    width: 450px;
    top: 40%;
    right: 5%;
    text-align: center;

    h1 {
      background-color: rgba(255, 255, 255, 0.726);
      color: #000;
      padding: 5px;
      font-size: 42px;
      margin-bottom: 30px;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
      box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.747);
      letter-spacing: 1px;
    }
    .menu_box {
      display: flex;
      justify-content: space-between;

      button {
        border: none;
        border-bottom: 2px solid #fdd379ad;
        font-size: 18px;
        padding: 7px;
        letter-spacing: 1px;
        text-shadow: 0px 0px 7px #000;

        background-color: transparent;
        color: #fff;
        cursor: pointer;

        &:hover {
          background: linear-gradient(120deg, #f5af19ad, #f13e11a8);
          text-shadow: none;
          border: none;
          box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.747);
          border-radius: 5px;
        }
      }
    }
  }
}

// mainbox > cardlist
.card_list {
  width: 90%;
  margin: 0 auto;

  h1 {
    width: 100%;
    text-indent: 30px;
    margin: 20px 0;
    position: relative;
    &:after {
      position: absolute;
      width: 80%;
      height: 1px;
      top: 50%;
      margin-left: 40px;
      background-color: #fff;
      content: "";
    }
  }
  .card_box {
    display: flex;
    flex-wrap: wrap;

    .card_detail {
      width: 340px;
      padding: 20px 20px;

      a {
        background-color: rgba(255, 255, 255, 0.856);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 360px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);

        img {
          width: 260px;
          height: 260px;
          border-radius: 15px;
          overflow: hidden;
        }

        p {
          width: 250px;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}
